* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h1 {
    margin: 2em 1em;
    padding: 0 1em;
}

h2 {
    margin: 0 0 30px;
    padding: 0 10%;
    font-size: 1em;
}

button {
    margin: 10px 20px;
    width: 30%;
    min-width: 10em;
    height: 10em;
    border-width: 1px;
    border-color: rgba(0,0,0,0.2);
    border-style: solid;
    border-radius: 25px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
}

#buttons {
    display: flex;
    align-items: center;
    width: 80%;
}

#scoreboard {
    margin: 2em 0;
    display: flex;
    padding: 1px;
    justify-content: space-evenly;
}

h3 {
    border-bottom: solid;
    padding: 4px 30px;
    border-width: 2px;
}

#player {
    border-right: solid;
    border-right-width: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#computer {
    border-left: solid;
    border-left-width: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info-message {
    margin: 1em;
    padding: 1em 0 0;
}

.score {
    padding: 5%;
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media (max-width: 700px) {
    #buttons {
        flex-direction: column;
    }

    button {
        width: 6em;
        height: 6em;
    }

    h1 {
        margin: 10% 0;
    }
}